body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
.clouds-background {
    background: url("clouds-background.png") no-repeat center center;
    background-size: cover;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1
}
